APP_IMAGE=123456789012.dkr.ecr.us-east-1.amazonaws.com/labphp-app:1.0.0
APP_NAME=SkyNalytix Lab PHP
APP_URL=https://labphp.skynalytix.com.br
APP_SESSION_NAME=LABPHPSESSID
DB_HOST=labphp-mysql.xxxxxx.us-east-1.rds.amazonaws.com
DB_PORT=3306
DB_NAME=labphp
DB_USER=labphp_user
DB_PASSWORD=trocar_essa_senha
