APP_NAME="SkyNalytix Lab PHP Local"
APP_URL="http://localhost:8080"
APP_SESSION_NAME="LABPHPSESSID"
APP_DEBUG="1"

DB_HOST="mysql"
DB_PORT="3306"
DB_NAME="labphp"
DB_USER="labphp_user"
DB_PASSWORD="labphp123"

MYSQL_ROOT_PASSWORD="root123"
MYSQL_DATABASE="labphp"
MYSQL_USER="labphp_user"
MYSQL_PASSWORD="labphp123"

APP_PORT="8080"
MYSQL_PORT="3307"
